@import "base";

@import "partials/fonts";

@import "partials/global";

// -----------------------------------------------------------------------------
//{ region PLUGINS/DIRECTIVES
//} endregion
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//{ region STRUCTURE
#MAIN                                                                           {
  button:disabled                                                               {
    opacity: 0.1;
  }
  
  .line                                                                         {
    display: flex;
    flex-direction: row;
    
    .value{
      display: inline-block;
    }
  }
  
}
//} endregion
// -----------------------------------------------------------------------------

.filePicker {
  display: inline-block;
}
.folderPicker {
  display: inline-block;
}
